
body {
    color: #676a6d!important;
    font-family: "Source Sans Pro", sans-serif!important;
    font-size: 13px!important;
    line-height: inherit!important;
}

@media (max-width: 998px) and (min-width: 240px){
    body {
        font-size: 11px!important;
    }
}

@media (max-width: 750px) {
    .no-line {
        border: none!important;
    }

    .col-xs-5 {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .col-xs-7 {
        padding-right: 0!important;
    }

    .col-xs-12, .col-xs-2 {
        padding-left: 6px!important;
        padding-right: 4px!important;
    }

    .col-xs-offset-2{
        margin-left: 0 !important;
    }
    .col-xs-2 {
        padding: 0!important;
    }
}

@media (max-width: 580px) {
    .col-xs-4, .col-xs-3 {
        padding: 0!important;
    }
    .all-width {
        width: 100%!important;
    }

    .no-offset {
        margin-left: 0%!important;
    }

    .no-p-l {
        padding-left:0!important;
    }
    .margin-left-min {
        margin-left: -14px;
    }
}


.middle-edit {
    padding-right:3px!important;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.height_div {
    /*height: 15rem;*/
    background-color: #4F81BD;
}

.flex-container {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
}

.top-block-height {
    height: 15rem;
}

.container-custom {
    padding: 0!important;
}

.tr-head {
    background: #4267b2;
    color: #fff;
}

.head-txt {
    font-size: 14px;
    color: #fff;
}
.fa-edit, .fa-lock, .fa-save, .fa-info-circle {
    cursor: pointer;
    color: #4267b2;
}
.fa-check, .fa-close{
    cursor: pointer;
}
.danger {
    color: red;
    font-size: 13px;
}
.form-control-custom {
    font-size: 13px!important;
    line-height: normal!important;
    height: 25px!important;
    border-radius: 0!important;
}

.form-control-textarea {
    font-size: 13px!important;
    line-height: normal!important;
    border-radius: 0!important;
}

.form-control-select {
    font-size: 12px!important;
    line-height: normal!important;
    height: 25px!important;
    border-radius: 0!important;
    width: 75%!important;
    padding: 0!important;
}

.pl-0 {
    padding-left: 0!important;
}

.p-0 {
    padding: 0!important;
}

@media(min-width: 250px){
    .nopadding {
        padding: 0!important;
    }
}

@media(max-width: 1010px) {
    .margin-select {
        margin-bottom: 5px!important;
    }

    .p-0 {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .pl-0 {
        padding-left: 15px!important;
    }
}


/*.middle-screen-padding-left {
    padding: ;
}*/

.tooltip-custom {
    color: #31708f;
    font-weight: 600;
    font-style: italic;
}
.tooltip-info {
    font-size: 12px;
}

.icons-view {
    opacity: 1;
    white-space: nowrap;
}
.fa-close, .fa-trash {
    color: red;
}

.action-icons span{
    cursor: pointer;
}

table#widget-table tr span.show-actions {
    opacity: 0;
}

table#widget-table tr:hover span.show-actions {
    opacity: 1!important;
}

.confirmation {
    color: #8a6d3b;
    font-weight: 600;
    font-size: 12px;
    font-style: italic;
}

.yes{
    color: green!important;
}

.blocks {
    color: #ffffff;
    font-size: 16px;
}

@media (min-width: 768px) {
    .day {
        padding-left: 0!important;
    }

    .year {
        padding-left: 0!important;
    }
}

/*
@media(max-width: 450px) {
    .lastname {
        white-space: nowrap;
        !*text-overflow: ellipsis;*!
    }

    #l-name-error, #l-name-error-size, #firstname-info{
        white-space: normal!important;
    }
}
*/





